@{
    var questionIndex = ViewBag.QuestionIndex;
}

<h1>Question @questionIndex</h1>

<image class="Img" src="https://img.freepik.com/premium-photo/astronaut-outer-open-space-planet-earth-stars-provide-background-erforming-space-planet-earth-sunrise-sunset-our-home-iss-elements-this-image-furnished-by-nasa_150455-16829.jpg?w=2000" />

<p>Savol: @ViewBag.QuestionText </p>
<div class="ChoicePanel">
@{
    for (int i = 1; i < 5; i++)
    {
                <a href="#">variant @i</a><br/>
    }
}
</div>
<a href="/">Home</a>

<style>
    .ChoicePanel {
        background: aqua;
        padding: 20px;
    }
    .Img {
        width: 100%;
        height: 200px;
    }
</style>