<h1>Ro'yxatdan o'tish</h1>

<form asp-controller="Login" asp-action="RegisterUser" method="post">
    <input type="text" name="Name" placeholder="Name"/><br>
    <input type="text" name="PhoneNumber" placeholder="PhoneNumber" /><br>
    <input type="text" name="Password" placeholder="Password" /><br>
    <input type="submit" value="Login" />
</form>